div[style*="background: #eef2ff"] {
  display: none !important;
}

div[style*="z-index: 99999"] {
  display: none !important;
}

div[style*="font-size: 14px"][style*="background"] {
  display: none !important;
}

div[style*="background: #eef2ff"],
div[style*="background:#eef2ff"] {
  display: none !important;
}

div[style*="text-align: left"][style*="border: 1px solid"] {
  display: none !important;
}

div[style*="background-color: rgba(0, 0, 0, 0.5)"] {
  display: none !important;
}

.e-de-watermark-banner,
.e-de-ctn-info-banner {
  display: none !important;
}

div[style*="background-color: rgb(238, 242, 255)"],
div[style*="background-color:#eef2ff"] {
  display: none !important;
}
